*
!.dockerignore
!Dockerfile.agent
!Dockerfile.runner
!go.mod
!go.sum
!cmd/
!cmd/**
!component-sdk/
!component-sdk/**
!console/
!console/*.go
!internal/
!internal/**
!pkg/
!pkg/**
!proto/
!proto/**
!registered-components/
!registered-components/**
!release/
!release/runner/
!release/runner/entrypoint.sh
